<div>
  <script 
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
  <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
  <!-- prism.js is used for code highlighting -->
  <script 
    type="text/javascript" 
    src="/assets/prism.js"></script>
    
  <!-- Default Statcounter code for Blog
  http://caffeinated.tech/ -->
  <script type="text/javascript">
    var sc_project=11729084; 
    var sc_invisible=0; 
    var sc_security="2d733cf9"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript>
    <div class="statcounter">
      <a 
        title="Web Analytics Made Easy - StatCounter" 
        href="http://statcounter.com/"
        target="_blank">
        <img 
          class="statcounter"
          src="//c.statcounter.com/11729084/0/2d733cf9/0/" 
          alt="Web Analytics Made Easy - StatCounter">
        </a>
      </div>
  </noscript>
  <!-- End of Statcounter Code -->
</div>
