---
---

@charset "utf-8";

@font-face(FiraCode, _fonts/FiraCode-Medium, 500, normal, otf);
@font-face(FiraCode, _fonts/FiraCode-Bold, 700, normal, otf);
@font-face(FiraCode, _fonts/FiraCode-Light, 300, normal, otf);

$base-font-size:   16px !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #eee !default;
$background-color: #202020 !default;
$blog-color: #004180 !default;
$blog-color-light: #0073e2 !default;
$profile-color: #6d006d !default;
$profile-color-light: #d800d8 !default;
$contact-color: #006f00 !default;
$contact-color-light: #00ab00 !default;

// Width of the content area
$content-width:    800px !default;

@import 'hexagon';
@import 'prism';
@import 'header';
@import 'footer';
@import 'blog';
@import 'profile';
@import 'contact';
// @import 'home';

* {
  box-sizing: border-box;
}

body {
  padding:0;
  margin: 0;
  // font-family: 'Ubuntu', sans-serif;
  font-family:"Fira Code";
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color:white;
  font-weight:  bold;
  cursor:   pointer;  
  &:hover {
    text-decoration: underline  ;
    color: white  ;
  }
}
p {
  color: #adadad;
  text-indent:2em;
}
html {
  padding:0;
  margin: 0;
  font-size:18px;
}
h1 {
  margin: 2rem 0 1rem;
  &.display-4 {
    margin: 0;
  }
}
h2 {
  background-color: black;
  display: inline-block;
  padding: 1rem 3rem;
  color: white;
  width:100%;
  margin: 2rem 0 1rem;
}
h3 {
  border-bottom: 2px solid white;
  display: inline-block;
  padding: 1rem 3rem;
  width:100%;
  color: white;
  margin: 2rem 0 1rem;
}
img {
  max-width:100%;
}
content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin:0 auto;
}
.hero {
  margin: 2rem -15px;
  padding: 4rem 0;
  border-radius:0;
  background-color: #373737;
  color: white;
}
a.post-excerpt {
  display:block;
  padding: 10px 20px;
  margin: 30px 0;
  font-weight:normal;
  &:hover {
    text-decoration:none;
    background-color: rgba(255,255,255,0.1)
  }
  .post-date {
    display:inline-block;
  }
}

blockquote {
  border-top: none;
  position: relative;
  color: #eee;
  font-style: italic;
  margin: 30px;
  padding: 0.5em 10px 0.5em 45px;
  quotes: "“" "”" "‘" "’";
  &:before {
    position: absolute;
    left: 0;
    top: -12px;
    color: white;
    content: open-quote;
    line-height: 1em;
    font-size: 4em;
  }
  &:after {
    position: absolute;
    right: 0;
    bottom:-0.7em;
    color: white;
    content: close-quote;
    line-height: 1em;
    font-size: 4em;
  }
  a {
    position: absolute;
    right: 40px;
    bottom: 0;
  }
}

pre[class*="language-"] {
  background: #2a2a2a !important;
  font-family:"Fira Code";
}

code {
  border: 1px solid #777;
}
pre code {
  border: none;
}

aside {

  border: 1px solid #777;
  color: #ccc;
  padding: 5px;
}

@media only screen and (max-width: 420px) {
  html {
    /*font-size:16px;*/
  }
  content {
    padding: 0 10px;
  }
}
